.convert-box{
    padding:20px;
  }
  .preview-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,150px);
    gap:12px;
    margin-top:20px;
  }
  .card{
    background:#111d38;
    padding:10px;
    border-radius:10px;
  }
  .card img{
    width:100%;
    border-radius:6px;
  }
  #loadingImg{
    display:none;
    margin-top:10px;
    color:#22c55e;
  }